.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: "Abril Fatface", serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
#main {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

#container {
  width: 73%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: green; */
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  padding: 15px 15px;
  margin-right: 5px;
  cursor: pointer;
}

.buttons:hover {
  box-shadow: 1px 2px 2px black;
  /* background-color: #cbd5e0; */

}

.canva_screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 4px black;
}
.buttons{
  padding: 5px 15px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 17px;
  box-shadow: 1px 1px 7px black;
}
.download{
  background-color: rgb(58, 252, 58) ;
}
.delete{
  background-color: rgb(239, 24, 24);
}
.image{
  /* background-color: green; */
  width: 100px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
.footer {
  text-align: center;
  margin-top: 20px;
  color: #777;
}


@media screen and (max-width: 768px) {
  #main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }
  #container {
    /* background-color: green; */
    width: 90%; /* Adjust width for smaller screens */
  }
  h1{
    font-size: 25px;
    padding: 0px 12px;
  }

  .button {
    padding: 10px; /* Adjust button padding for smaller screens */
    font-size: 14px; /* Adjust button font size for smaller screens */
  }
  .image{
    /* background-color: green; */
    width: 70px;
  }
  .logo{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .canva_screen {
    margin: 4px 0px;
    box-shadow: 1px 1px 4px black;
  }

  .buttons {
    padding: 8px; /* Adjust button padding for smaller screens */
    font-size: 14px; /* Adjust button font size for smaller screens */
  }
}
